{% extends 'wishlist_base.html' %}

{% block content %}

    <div class="col-12 col-sm-12 col-md-12 col-lg-8">
        <h2>Update existing list</h2>
        <div class="rounded content-box m-1 p-5">  
            <form action="{% url 'wishlist:update' wishlist.id %}" method="post">
                {% csrf_token %}
                {{ form }}

                {% include 'timestamps.html' with created=wishlist.created updated=wishlist.updated %}

                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
            <div class="delete-box">
                <a href="{% url 'wishlist:delete' wishlist.id %}">
                    <button class="btn btn-delete">
                        DELETE
                    </button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}