@import url('fonts/anton.css');

:root {
    --color-primary: #efff006b;
    --color-secondary: #ffffff26;
    --color-third: #00fff36b;
}

html, body {
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
body {
    background: url('/static/img/bg2.webp') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.centerHVflex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-layer {
    background-color: #000000d1;
    color: white;
    position: fixed;
    width: 100%;
    overflow-y: scroll;
}

.nav-link {
    color: var(--color-primary);
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
  }
.nav-link:focus, .nav-link:hover, .nav-link.active {
    background-color: var(--color-secondary);
    color: white;
  }
.content-box {
    background-color: var(--color-secondary);
    transition: all 0.4s ease; 
    cursor: pointer;
}
.index .content-box > * {
    transition: all 0.4s ease; 
}
.index .content-box:hover {
    background-color: #ffffff46;
}
.index .content-box:hover > .details-button {
    transform: translateZ(0) scale(1.05);
}
a > .content-box > * {
    color: white;
}
.content-box .details-button {
    color: white;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px 20px;
    display: inline-block;
}
.content-box .details-button:hover {
    color: white;   
    font-weight: 700;
}
.content-box .btn-primary, form .btn-primary {
    background-color: white!important;
    color: black!important;
    border: 0px;
}
.content-box .btn-delete {
    background-color: rgb(216, 0, 0)!important;
    color: white!important;
    border: 0px;
}
.content-box .delete-box {
    text-align: right;
}
.content-box.heading {
    background-color: var(--color-primary);
    border-radius: 0.25rem 0 0 0.25rem;
}
.content-box.add {
    background-color: var(--color-third);
}
.content-box.edit {
    background-color: var(--color-third);
    border-radius: 0 0.25rem 0.25rem 0;
}
.content-box .form-control, form .form-control{
    background-color: #cdcdcd26;
    color: white;
}
.content-box .form-control:focus, form .form-control:focus{
    background-color: #cdcdcd54;
    color: white;
}




/* HOME START */
.home h2 {
    font-family: Anton;
    font-size: 60pt;
}
.bubble-bg:nth-child(odd) {
    background: url('../img/home/blob.svg') no-repeat center;
    padding: 100px 50px;
}
.bubble-bg:nth-child(even) {
    background: url('../img/home/blob2.svg') no-repeat center;
    padding: 100px 50px;
}
.home p {
    color: var(--color-third);
    font-size: 13pt;
} 
/* HOME END */

/* FLY IN START */
.flyin {
    opacity: 0;
    animation: transform 1s ease-in-out 0.1s forwards;
}
@keyframes transform {
    from {
        transform: translateZ(0) scale(0);
        opacity: 0;
    }
    to {
        transform: translateZ(0) scale(1);
        opacity: 1;
    }
}
/* FLY IN END */

/* FADE IN START */
.fadein {
    margin-top: 30px;
    margin-bottom: -30px;
    visibility: hidden;
    opacity: 0;
    transition: 1.5s margin-top ease, 1s opacity ease;
}
.fadein.show {
    margin-top: 0px;
    margin-bottom: 0px;
    opacity: 1;
    visibility: visible;
}
/* FADE IN END */

/* Parallax STYLES START */
#parallax {
    font-family: raleway, sans-serif;
    min-height: 300px;
    width: 100%;
    background-image: url("../img/headphones.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#parallax .container {
    min-height: inherit;
}

#parallax .button {
    background: var(--color-primary);
    display: inline;
    border-radius: 5px;
    padding: 10px;
}

#parallax .button a{
    color: white;
    text-decoration: none;
}

/* Parallax STYLES END */

/* AUTOFILL */
input:-webkit-autofill {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #000000ad inset;
}
input:-moz-autofill {
    -moz-text-fill-color: white;
    -moz-box-shadow: 0 0 0px 1000px #000000ad inset;
}
input:-o-autofill {
    -o-text-fill-color: white;
    -o-box-shadow: 0 0 0px 1000px #000000ad inset;
}
input:-khtml-autofill {
    -khtml-text-fill-color: white;
    -khtml-box-shadow: 0 0 0px 1000px #000000ad inset;
}

input:focus:-webkit-autofill {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #000000ad inset;
}
input:focus:-moz-autofill {
    -moz-text-fill-color: white;
    -moz-box-shadow: 0 0 0px 1000px #000000ad inset;
}
input:focus:-o-autofill {
    -o-text-fill-color: white;
    -o-box-shadow: 0 0 0px 1000px #000000ad inset;
}
input:focus:-khtml-autofill {
    -khtml-text-fill-color: white;
    -khtml-box-shadow: 0 0 0px 1000px #000000ad inset;
}