{% extends 'wishlist_base.html' %}

{% block content %}

{% include 'shared/snippets/wishlist.html' with wishlist=wishlist %}

    {% if wishes %}

        {% for wish in wishes %}
            {% if not wish.marked %}
                <div class="index col-12 col-sm-12 col-md-6 col-lg-4">
                    <a href="{% url 'wishlist:detailShareWish' wish.id %}">
                        <div class="rounded text-center content-box m-1 p-5">
                            <h3>{{ wish.title }}</h3>
                            <span class="mt-2 details-button">Details</span>
                        </div>
                    </a>
                </div>
            {% else %} 
                <div class="index col-12 col-sm-12 col-md-6 col-lg-4 done">
                    <div class="rounded text-center content-box m-1 p-5">
                        <h3>{{ wish.title }}</h3>
                        <em>DONE</em>
                    </div>
                </div>
            {% endif %} 
        {% endfor %}
    {% else %}        
        <div class="index col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="rounded text-center content-box m-1 p-5">
                <h3>No wishes yet.</h3>
            </div>
        </div>
    {% endif %}
    
{% endblock %}