{% extends 'wishlist_base.html' %}

{% block content %}
    <div class="col-10 wishlist m-0 mt-5 p-0">       
        <div class="text-center content-box heading mx-0 py-4">        
            <h3>Shared lists</h3>   
        </div>
    </div>
    {% if wishlists %}
        {% for wishlist in wishlists %}
            <div class="index col-12 col-sm-12 col-md-6 col-lg-4">
                <a class="mt-2" href="{% url 'wishlist:detailShareWishlist' wishlist.id %}">
                    <div class="rounded text-center content-box m-1 p-5">
                        <h3>{{ wishlist.title }}</h3>
                        <em>{{ wishlist.owner }}</em>
                    </div>
                </a>
            </div>
        {% endfor %}
    {% else %}
        <div class="index col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="rounded text-center content-box m-1 p-5">
                <h3>No shared lists yet.</h3>
            </div>
        </div>
    {% endif %}

    <div class="col-10 wishlist m-0 mt-5 p-0">       
        <div class="text-center content-box heading mx-0 py-4">        
            <h3>Marked wishes</h3>   
        </div>
    </div>
    {% if wishes %}
        {% for wish in wishes %}
            <div class="index col-12 col-sm-12 col-md-6 col-lg-4">
                <a href="{% url 'wishlist:detailShareWish' wish.id %}">
                    <div class="rounded text-center content-box m-1 p-5">
                        <h3>{{ wish.title }}</h3>
                        <span class="mt-2 details-button">Details</span>
                    </div>
                </a>
            </div>
        {% endfor %}
    {% else %}        
        <div class="index col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="rounded text-center content-box m-1 p-5">
                <h3>No marked wishes yet.</h3>
            </div>
        </div>
    {% endif %}
{% endblock %}