<nav class="navbar navbar-expand-md px-5 py-3">
    <div class="container">    
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0 nav-fill w-100 pl-5 pr-5">
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/' %} active {% endif %}" href="/">HOME</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link {% if 'wishManagement' in request.path %} active {% endif %}" href="{% url 'wishlist:index' %}">PERSONAL</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">SHARED</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ user.username }}
              </a>
              <ul class="dropdown-menu {% if 'accounts' in request.path %} active {% endif %}" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
                <li><a class="dropdown-item" href="{%url 'internalAuth:update' %}">Manage Profile</a></li>
              </ul>
            </li>
          {% endif %}
        </ul>
        
        {% if not user.is_authenticated %}
            <a class="nav-link" href="{% url 'login' %}">
              <button class="btn btn-outline-success" type="button">Log In</button>
            </a>
            <a class="nav-link" href="{% url 'internalAuth:signup' %}">
              <button class="btn btn-outline-success" type="button">Sign Up</button>
            </a>     
        {% endif %}
      </div>
    </div>
  </nav>