{% extends "wishlist_base.html" %}
{% block title %} Password Reset {% endblock title%}
{% block content %}

    <div class="col-12 col-sm-12 col-md-8 col-lg-4">
        <h2>Reset password</h2>

                    {% if validlink %}
                            <form method="POST">                                   
                                {% csrf_token %}
                                {% if form.errors %}
                                    {% csrf_token %}
                                    {% for key, value in form.errors.items %}
                                        {{ value }}
                                    {% endfor %} 
                                {% endif %}

                                <div class="form-floating mb-3">
                                    <input type="password" name="new_password1" autocomplete="new-password"
                                            class="form-control" required id="id_new_password1"
                                            placeholder="Enter password"/>
                                    <label class="small mb-1" for="id_new_password1">New Password</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" name="new_password2" autocomplete="new-password"
                                            required id="id_new_password2" class="form-control"
                                            placeholder="Confirm password"/>
                                    <label class="small mb-1" for="id_new_password2">New Password Confirmation</label>
                                </div>
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </form>
                    {% else %}
                    <div class="alert alert-warning">
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                    </div>
                    {% endif %}

    </div>

{% endblock content %}