{% extends 'wishlist_base.html' %}

{% block content %}

{% include 'wish/snippets/wishlist.html' with wishlist=wishlist %}

    <div class="col-12 col-sm-12 col-md-12 col-lg-8">
        <h2>Add a new wish</h2>
        <div class="rounded content-box m-1 p-5"> 
            <form action="{% url 'wishlist:createWish' wishlist.id %}" method="post">                
                {% csrf_token %}
                    {{ form }}
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>

{% endblock %}